.flex-layout {
    display: flex;
    flex-direction: row;
}

.no1-column {
    background-color: lightblue;
    width: 50px;
}

.no2-column {
    background-color: lightpink;
    flex: 1;
}

.no3-column {
    background-color: lightgreen;
    width: 75px;
}