.flex-layout {
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    justify-content: space-between;
}

.no1-column {
    background-color: lightblue;
}

.no2-column {
    background-color: lightpink;
}

.no3-column {
    background-color: lightgreen;
}

.no4-column {
    background-color: lightcoral;
}