.container {
    position: fixed;
    background-color: grey;
    width: 320px;
    height: 180px;
    right: 15px;
    bottom: 15px;

    .close {
        position: absolute;
        background-color: black;
        color: white;
        font-family: Arial;
        padding: 8px 12px;
        border-radius: 60px;
        top: -15px;
        left: -15px;
    }
}