.cloth-screen-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(185, 185, 185);
    width: 320px;
    height: 350px;
    position: relative;

    .discount {
        position: absolute;
        font-family: Arial;
        background-color: black;
        color: white;
        top: 10px;
        right: 0px;
        padding: 6px 8px;
        font-size: 14px;
    }
}

.cloth-preview {
    width: 300px;
    height: 320px;
}

.cloth-img {
    width: 100%;
    height: 95%;
    object-fit: contain;
    object-position: bottom;
}

.cart-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100px;
    bottom: 0;
}

.cart-add {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: black;
    border-style: solid;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 0.15s;
}
